.hero {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  height: 100%;
  position: relative;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 24px;
  margin-bottom: 300px;
}

.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  color: var(--color-text-light);
  margin-bottom: 6px;
}

.description {
  max-width: 491px;
  line-height: 18px;
  color: var(--color-text-light);
  opacity: 0.9;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  margin-left: auto;
}

