.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 40px;
  flex: 1;
  position: relative;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 24px;
}

.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  color: var(--color-text-light);
  margin-bottom: 6px;
  text-transform: uppercase;
}

.description {
  max-width: 347px;
  line-height: 18px;
  color: var(--color-text-light);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  margin-left: 0;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .hero {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .content {
    text-align: center;
    padding-right: 0;
    padding: 0 var(--container-padding);
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 12px;
  }

  .description {
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    margin-left: 0;
    text-align: center;
  }
}
