.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 40px;
  flex: 1;
  position: relative;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 24px;
}

.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  color: var(--color-text-light);
  margin-bottom: 6px;
}

.description {
  max-width: 491px;
  line-height: 18px;
  color: var(--color-text-light);
  opacity: 0.9;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  margin-left: auto;
}

