.page {
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  background-image: url('/pictures/eye_hero.png');
  background-size: 170%;
  background-position: -11px -285px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .page {
    background-image: 
      linear-gradient(
        180deg,
        rgba(19, 93, 108, 1) 0%,
        rgba(19, 93, 108, 0.6) 15%,
        transparent 35%
      ),
      url('/pictures/eye_hero_mobile.png');
    background-size: 100%, 130%;
    background-position: top, center 80px;
    background-repeat: no-repeat, no-repeat;
  }
}
