.header {
  background: linear-gradient(90deg, rgba(19, 93, 108, 0.7) 0%, rgba(10, 153, 166, 0.7) 100%);
  box-shadow: 0 4px 6px 0 rgba(3, 20, 23, 0.3);
  backdrop-filter: blur(24px);
}

.separator {
  display: none;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .header {
    padding-top: 24px;
    background: linear-gradient(180deg, rgba(19, 93, 108, 1) 0%, rgba(19, 93, 108, 0.7) 70%, transparent 100%);
    box-shadow: none;
  }

  .separator {
    display: block;
    height: 1px;
    background-color: var(--color-white);
    margin: 20px;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  margin: 0;
  height: 100%;
  padding: 0 24px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLink {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-light);
  transition: opacity 0.2s ease;
}

.navLink:hover {
  opacity: 0.8;
}

.loginButton {
  padding-block: 10px;
  font-size: 16px;
  font-weight: 700;
    line-height: 100%;
  width: 155px;
  color: var(--color-text-light);
  background-color: var(--login-button-bg);
  border-radius: var(--radius-login-button);
  transition: background-color 0.2s ease;
  box-shadow: 0 8px 24px 0 #BCF3FF40, 0 2px 4px 0 #00000040;
}

.loginButton:hover {
  background-color: var(--login-button-bg-hover);
}
